<li id="<%= dom_id(step) %>">
  <span>
    <%= pipeline_step_name(step.name) %>
    <% if (duration = pipeline_step_duration(step)) %>
      <span class="muted"> &middot; <%= duration %></span>
    <% end %>
  </span>
  <span class="<%= badge_class_for(step.status) %>"><%= te(:pipeline_status, step.status) %></span>
</li>
